@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Kanit:wght@300;400&display=swap');

h1,
h2,
h3 {
    font-family: 'Cookie', cursive;
}

p {
	font-family: 'Kanit', sans-serif;
}

body {
    background-image: url(../img/verde-musgo.webp);
}



/* colores */

.bg-green {
    background-color: rgba(189, 196, 100, 0.7);
}

.logo img {
    width: 240px;
}

.txt-light {
    color: rgb(189, 196, 100);
}

.redondo {
    padding: 5%;
    border-radius: 40%;
}

@media (min-width: 576px) and (max-width: 768px) {
    .logo img {
        width: 200px;
    }
}

@media (min-width: 280px) and (max-width: 575px) {
    .logo img {
        width: 150px;
    }
}